@use "../abstracts" as *;

body,
html {
  font-family: $font;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-violet;
  @include medium {
    background-color: $violet;
  }
}

main {
  @include main-container(350px, 100%, column);
  @include medium {
    @include main-container(800px, 500px, row);
  }
}