@import "General.scss";

form {
  @include FormSection(100%, 400px, var(--White), column, center, 3em 0);
  height: 22em;
  background-color: yellow;

  div {
    display: flex;
    flex-direction: column;
    min-height: 5em;
  
   


    label {
      font-size: 0.7rem;
      color: var(--DarkViolet);
      margin: 0 1em 0.5em 1em;
    }
    input {
      border: 1px solid var(--LightGray);
      border-radius: 8px;
      padding: 0.8em;
      margin: 0 1em;
     
      &::placeholder {
        color: var(--LightGray);
        letter-spacing: 1px;
      }
    }
    span {
      color: var(--DarkViolet);
      font-size: 0.7rem;
      margin: 0.5em 1em 0 1em;
      color: var(--Red);
      
    }
  }
  .date-cvc {
    display: flex;
    flex-direction: row;
     min-height: 5em;
    background-color: lightblue;

    .date {
      display: flex;
      flex-direction: row;
       min-height: 2em;

      input {
        width: 50%;
      }
      :nth-child(1) {
        margin: 0 0.5em 0 1em;
      }
      :nth-child(2) {
        margin: 0 0.5em 0 0;
      }
    }
  }
  button {
    @include buttonStyle(
      93%,
      3em,
      none,
      8px,
      var(--DarkViolet),
      var(--White),
      0.8rem,
      500,
      2px,
      2em auto,
      pointer
    );
    &:hover {
      background-color: var(--LightViolet);
    }
  }
}

@media screen and (min-width: 992px) {
  form {
    @include FormSection(70%, 100%, var(--White), column, center, 0 7em);
    button {
      &:hover {
        background-color: var(--Violet);
      }
    }
  }
}
