@use "sass:meta";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

// Variables :
$LightViolet: hsl(249, 99%, 64%);
$DarkViolet: hsl(278, 68%, 11%);
$Violet: hsl(278, 94%, 30%);
$Red: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$LightGray: hsl(270, 3%, 87%);
$DarkGray: hsl(279, 6%, 55%);
$Font: "Space Grotesk", sans-serif;

:root {
  --LightViolet: hsl(249, 99%, 64%);
  --DarkViolet: hsl(278, 68%, 11%);
  --Violet: hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(270, 3%, 87%);
  --DarkGray: hsl(279, 6%, 55%);
  --Font: #{meta.inspect($Font)};
}

// Mixins :
@mixin mainContainer($width, $height, $direction) {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: $direction;
}

@mixin cardPositions($width, $height, $position, $top, $right) {
  width: $width;
  height: $height;
  position: $position;
  top: $top;
  right: $right;
}

@mixin HeroSection($width, $height, $backgroundURL) {
  width: $width;
  height: $height;
  background: url($backgroundURL) no-repeat;
}

@mixin FormSection(
  $width,
  $height,
  $background,
  $direction,
  $justify,
  $padding
) {
  width: $width;
  height: $height;
  background-color: $background;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  padding: $padding;
}

// By default :
body,
html {
  font-family: var(--Font);
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LightViolet);
}

main {
  @include mainContainer(350px, 565px, column);
}

// For screens larger than 992px :
@media screen and (min-width: 992px) {
  body,
  html {
    background-color: var(--Violet);
  }
  main {
    @include mainContainer(800px, 500px, row);
  }
}
