// Colors :
$light-violet: hsl(249, 99%, 64%);
$dark-violet: hsl(278, 68%, 11%);
$violet: hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(270, 3%, 87%);
$dark-gray: hsl(279, 6%, 55%);

// Fonts: 
$font: "Space Grotesk", sans-serif;

// Breakpoints: 
$breakpoints: ( 
  "small": 350px,
  'medium': 992px,
  'large': 1440px,
);