@use "../abstracts" as *;
@use "../base" as *;

.card {
  color: var(--White);
  .card__logo {
    @include card-position(30px, 16px, relative, 12%, -16px);
  }
  .card__content {
    @include relative-position(relative, -46%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      @include relative-position(relative, 86%, -9%);
      font-size: 0.8rem;
    }
    div {
      @include relative-position(relative, 10%, 0);
      display: flex;
      justify-content: space-between;
      gap: 4em;
      span {
        font-size: 0.4rem;
        max-height: 2em;
      }
    }
  }
}
