@use "../abstracts" as *;
@use "../base" as *;

form {
  @include form-container(100%, 400px, $white, column, center, 3em 0);
  
  div {
    display: flex;
    flex-direction: column;
    min-height: 5em;

    label {
      font-size: 0.7rem;
      color: $dark-violet;
      margin: 0 1em 0.5em 1em;
    }
    input {
      border: 1px solid $light-gray;
      border-radius: 8px;
      padding: 0.8em;
      margin: 0 1em;
     
      &::placeholder {
        color: $light-gray;
        letter-spacing: 1px;
      }
    }
    span {
      font-size: 0.7rem;
      margin: 0.5em 1em 0 1em;
      color: $red;
    }
  }

  .date-cvc {
    display: flex;
    flex-direction: row;
    min-height: 6em;

    .date {
      display: flex;
      flex-direction: row;
      min-height: 2em;

      input {
        width: 50%;
      }
      :nth-child(1) {
        margin: 0 0.5em 0 1em;
      }
      :nth-child(2) {
        margin: 0 0.5em 0 0;
      }
    }
  }

  button {
    @include button-style(
      93%,
      3em,
      none,
      8px,
      $dark-violet,
      $white,
      0.8rem,
      500,
      2px,
      1em auto,
      pointer
    );
    &:hover {
      background-color: $light-violet;
      @include medium{
        background-color: $violet;
      }
    }
   
  }

  @include medium {
    @include form-container(70%, 100%, $white, column, center, 0 7em);
  }
}

