@use "../abstracts" as *;
@use "../base" as *;

.success {
  @include form-container(100%, 400px, var(--White), column, center, 3em 0);
  display: flex;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
    margin: 0 0 2em 0;
  }

  h1 {
    color: var(--DarkViolet);
    font-size: 1.5rem;
    margin: 0 0 0.5em 0;
    letter-spacing: 2px;
  }
  p {
    color: var(--DarkGray);
  }
  button {
    @include button-style(
      93%,
      3em,
      none,
      8px,
      var(--DarkViolet),
      var(--White),
      0.8rem,
      500,
      2px,
      1em auto,
      pointer
    );
    &:hover {
      background-color: var(--LightViolet);
    }
  }
}

@media screen and (min-width: 992px) {
  .success {
    @include form-container(70%, 100%, var(--White), column, center, 0 7em);
    button {
      width: 90%;
      &:hover {
        background-color: var(--Violet);
      }
    }
  }
}
